

/** {*/
/*  box-sizing: border-box;*/
/*}*/

html, body, #root, #root>div, #__next {
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.MuiOutlinedInput-root{
  border-radius: 6px !important;
  height: 42px;
  background: #ffffff;

}

.MuiTextField-root label {
  top: -4px;
}

.MuiTextField-root label[data-shrink='true'] {
  top: 0;
}

.MuiFormControl-root label {
  top: -6px;
}

.MuiFormControl-root label.MuiFormLabel-filled {
  top: 0;
}
