

/** {*/
/*  box-sizing: border-box;*/
/*}*/

html, body, #root, #root>div, #__next {
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.MuiOutlinedInput-root{
  border-radius: 6px !important;
  height: 42px;
  background: #ffffff;

}

.MuiTextField-root label {
  top: -4px;
}

.MuiTextField-root label[data-shrink='true'] {
  top: 0;
}

.MuiFormControl-root label {
  top: -6px;
}

.MuiFormControl-root label.MuiFormLabel-filled {
  top: 0;
}

.blobs-container {
  display: flex;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}


.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

a {
  text-decoration: none;
}
/*
a,
a > span {
  !*position: relative;*!
  !*color: inherit;*!
  !*text-decoration: none;*!
  !*line-height: 24px;*!
}
a:before, a:after,
a > span:before,
a > span:after {
  !*content: "";*!
  !*position: absolute;*!
  !*transition: transform 0.5s ease;*!
}
*/
